body{
    background:linear-gradient(#60ebeb 0%, #27ae60 100%);
    text-align: center;
}
.travel_mainDiv
{
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none
}

.travel_mainDiv img
{
 
}

.travel_mainDiv hr
{
    width: 230px; 
}

.travel_mainDiv h5 , .travel_mainDiv p
{
margin-left: 0px;
}
.environment_li
{
  margin-top: 13px;
}

.environment_li h4
{
    border-bottom: 1px solid white;
    padding: 8px;
}

.environment_li img
{
  border-radius: 25px;
}

.environment_li p
{
  margin-top:10px;
}
#contact iframe
{
    width: 100%;
}
.contact_1 h5
{
    
    font-size: large;
}
h3{
color: azure;
}
.contact_1 a
{
    text-shadow: none;
    font-size: large;
    color: white;
}
#contact{
    margin-top:1000px;
}